.loadingContainer {
  flex: 1;
  min-height: 90vh;
}
.calendarContainer {
  min-height: 90vh;
  position: relative;
  padding-bottom: 2rem;
  .modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    .modal-content{
      background: $isabeline;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      max-width: 400px;
      width: 100%;
      .modal-title{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .modal-description{
        font-size: 16px;
        margin-bottom: 20px;
      }
      .button-container{
        display: flex;
        justify-content: center;
        .whatsapp-button{
          border-radius: 1rem;
          padding: .6rem 1rem;
          background-color: $light;
          color: $dark;
          border: 2px solid $cinereous;
        }
        .whatsapp-button:hover{
          background-color: $cinereous;
        }
      }
    }
  }
  .title {
    z-index: 2;
    text-align: center;
    font-family: "LoveloBlack";
    padding-top: 3rem;
    padding-bottom: 10px;
    font-size: 1rem;
  }
  // conatainer of calendar, appointments and appointments details
  .dateSelectorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .react-calendar__tile--now {
      background-color: $almond; 
    }
    .react-calendar__tile--now:hover{
      background-color: $isabeline
    }
    .event-day {
      position: relative; 
    }
    .event-day::after {
      content: '';
      position: absolute;
      bottom: 5px; 
      left: 50%;
      transform: translateX(-50%);
      width: 6px;  
      height: 6px;
      background-color: $silver; 
      border-radius: 50%;
    }
    .dateSelectorTitle{
      z-index: 2;
      text-align: center;
      font-family: "LoveloBlack";
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 1rem;
    }
    //container of time pickers
    .timesAvailableContainer{
      .timesAvailableTitle{
        z-index: 2;
        font-family: "LoveloBlack";
        font-size: .8rem;
        padding-bottom: 1rem;
      }
      .timesItemsContainer{
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        gap: 10px;
        .noAppointments{
            padding-top: 1rem;  
        }
        .timeItem {
          border: 1px solid #aaa;
          flex: 0 0 calc(33% - 10px);
          box-sizing: border-box;
          text-align: center;
          padding: 10px;
          background-color: white;
          cursor: pointer;
        }
        .timeItem:hover {
          border: 1px solid black; 
          background-color: #f4f4f4; 
        }
        .selected{
          background-color: #006edc;
          color: white;
        }
        .selected:hover{
          background-color: #006edc;
          color: white;
        }
      }
    }
    //container of appointment details.
    .detailsContainer{
      .inputContainer{
        display: flex;
        flex-direction: column;
        input{
          margin-top: .2rem;
          padding: .1rem .4rem;
          border: 1px solid $cinereous;
          border-radius: .4rem;
        }
      }
    }
  }
  .button{
    margin-top: 1rem;
    border-radius: 1rem;
    padding: .5rem 1rem;
    background-color: $paleDogwood;
    color: white;
  }
  .button:hover{
    background-color: $cinereous;
  }
}



@media only screen and (min-width: 768px) {
  .calendarContainer {
    .dateSelectorContainer{
      .timesAvailableContainer{
        width: 15rem;
        .timesAvailableTitle{
          font-size: .9rem;
        }
        .timesItemsContainer{
          .timeItem{
            flex: 0 0 calc(50% - 10px);
          }
        }  
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .calendarContainer {
    margin-top: 2rem;
    .dateSelectorContainer{
      margin-top: 2rem;
      padding: 2rem;
      gap:20px;
      flex-direction: row;
      .timesAvailableContainer{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 1rem;
        width: 20rem;
      }
    }
  }
}

@media only screen and (min-width: 1300px) {
  .calendarContainer {
    .dateSelectorContainer{
      gap:50px;
      .timesAvailableContainer{
        width: 25rem;
      }
    }
  }
}
