.loadingContainer {
  flex: 1;
  min-height: 90vh;
}
.blogContainer {
  .title {
    font-family: "beautyDream";
    text-align: center;
    color: $dark;
    padding-top: 20px;
    font-size: 2rem;
  }
  .blogGrid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    .articleContainer {
      &:before {
        background-image: var(--image-url);
      }
      position: relative;
      background-color: $cinereous;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      width: 96%;
      height: calc(96vw / 2);
      &:before {
        border-radius: 10px;
        content: "";
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.7;
      }
      &:hover:before {
        opacity: 1;
        cursor: pointer;
      }
      h2 {
        color: $light;
        font-family: "dosisMedium";
        position: relative;
        font-size: 1.2rem;
        text-align: center;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .introductoryArticlesGrid {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .blogContainer {
    .title {
      padding-top: 50px;
      font-size: 2.5rem;
    }
    .blogGrid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, auto);
      row-gap: 50px;
      padding-top: 75px;
      padding-bottom: 75px;
      .articleContainer {
        height: 275px;
        width: 550px;
        h2 {
          font-size: 1.75rem;
        }
      }
    }
    .introductoryArticlesGrid {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 0;
      border-bottom: 1px solid $almond;
      .articleContainer {
        height: 180px;
        width: 300px;
      }
    }
  }
}
