.blogContainer{
  .title{
    font-family: "beautyDream";
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    color: $dark;
  }
  .blogGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 50px;
    justify-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    .articleContainer{
      position: relative;
      height: 275px;
      width: 550px;
      background-color: $cinereous;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      &:before{    
        border-radius: 10px;
        content: "";
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.7;
      }
      &:hover:before{
        opacity: 1;
        cursor: pointer;
      }
      h2{
        color: $light;
        font-family: "dosisSemiBold";
        position: relative;
        font-size: 28px;
        &:hover{
          cursor: pointer;
        }
      }
    }
    .article1{
      &:before{
        background-image: url("../src/images/article1Image.JPG");
      }
    }
    .article2{
      &:before{
        background-image: url("../src/images/article2Image.jpg");
      }
    }
    .article3{
      &:before{
        background-image: url("../src/images/article3Image.jpg");
      }
    }
    .article4{
      &:before{
        background-image: url("../src/images/article4Image.jpg");
      }
    }
    .article5{
      &:before{
        background-image: url("../src/images/article5Image.JPG");
      }
    }
    .article6{
      &:before{
        background-image: url("../src/images/article6Image.jpg");
      }
    }
    .article7{
      &:before{
        background-image: url("../src/images/article7Image.JPG");
      }
    }
    .article8{
      &:before{
        background-image: url("../src/images/article8Image.JPG");
      }
    }
  }
}