.bookingContainer{
  display: flex;
  flex-direction: column;
  width: 70%;
  .bookingTitleContainer{
    position: relative;
    align-self: center;
    width: 85%;
    height: 40px;
    margin-bottom: 50px;
    background-color: $almond;
    .bookingTitle{
      top: -25px;
      position: absolute;
      color: $light;
      font-family: "loveloBlack";
      font-size: 40px;
    }
  }
  .bookingFormContainer{
    form{
      display: flex;
      flex-direction: column;
      .nameSurnameContainer{  
        display: flex; 
        justify-content: space-between;
      }
      input{
        padding: 5px 10px;
        margin-bottom: 10px;
        font-family: "dosisRegular";
      }
      textarea{
        margin-bottom: 10px;
        padding: 5px 10px;
        height: 100px;
        resize: none;
        font-family: "dosisRegular";
      }
      .buttonSubmit{
        border-radius: 10px;
        padding: 10px 5px;
        background-color: $paleDogwood;
        color: $light;
        border-color: $cinereous;
        font-family: "dosisMedium";
        &:hover{
          background-color: $almond;
          color: $dark;

        }
      }
    }
    .bookingDescription{
      padding-top: 15px;
      text-align: center;
      color: $light;
      font-family: "dosisRegular";
    }
  }
}