.conventionsContainer{
  position: fixed;
  z-index: 5000;
  top: 150px;
  left: 2%;
  width: 96%;
  background-color: $isabeline;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 8px rgba(163, 143, 133,.35);
  -webkit-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133,.35);
  -moz-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133,.35);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  .closeBtn{
    color: $cinereous;
    position: absolute;
    right: 10px;
    top: 5px;
    font-family: "LoveloBlack";
    cursor: pointer;
    font-size: 1rem;
    z-index: 200;
  }
  h2{
    text-align: center;
    font-family: "loveloBlack";
    color: $cinereous;
    padding-top: 10px;
    font-size: 1.2rem;
  }
  h3{
    text-align: center;
    font-family: "dosisRegular";
    color: $cinereous;    
    padding: 10px 0px;
    font-size: 1rem;
  }
  .conventionsDescriptionContainer{
    padding: 5px 10px;
    .itemContainer{
      display: flex;
      margin-bottom: 10px;
      .icon path {
        stroke: $cinereous;
      }
      p{
        font-family: "dosisRegular";
        margin-left: 10px;
        font-size: .8rem;
      }
    }
    .isapresContainer{
      padding-top: 20px;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      img{
        margin:10px 5px;
        max-width: 100px;
        transition: transform .5s;
        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .conventionsContainer{
    top: 150px;
    left: 12%;
    width: 76%;
    padding: 10px;
    padding-bottom: 20px;
    .closeBtn{
      right: 30px;
      top: 15px;
      font-size: 1.5rem;
    }
    h2{
      padding-top: 30px;
      font-size: 1.87rem;
    }
    h3{
      padding: 25px 0px;
      font-size: 1.5rem;
    }
    .conventionsDescriptionContainer{
      padding: 10px 50px;
      .itemContainer{
        margin: 0px 20px 40px 20px;
        .icon path {
        }
        p{
          margin-left: 20px;
          font-size: 1.2rem;
        }
      }
      .isapresContainer{
        padding-top: 0px;
        img{
          margin-bottom: 0px;
          &:hover{
          }
        }
      }
    }
  }
}

.conventionsContainerClosed{
  animation: fadeOut 1s ease-in-out backwards;
}