.conventionsContainer{
  position: fixed;
  z-index: 5000;
  top: 180px;
  left: 12%;
  width: 76%;
  background-color: $isabeline;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 8px rgba(163, 143, 133,.35);
  -webkit-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133,.35);
  -moz-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133,.35);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  padding: 10px;
  padding-bottom: 20px;
  .closeBtn{
    color: $cinereous;
    position: absolute;
    right: 30px;
    top: 20px;
    font-family: "LoveloBlack";
    cursor: pointer;
    font-size: 20px;
    z-index: 200;
  }
  h2{
    text-align: center;
    font-family: "loveloBlack";
    padding-top: 30px;
    font-size: 30px;
    color: $cinereous;
  }
  h3{
    text-align: center;
    font-family: "dosisRegular";
    padding: 25px 0px;
    font-size: 24px;
    color: $cinereous;
  }
  .conventionsDescriptionContainer{
    padding: 10px 50px;
    .itemContainer{
      display: flex;
      margin: 0px 20px 40px 20px;
      .icon path {
        stroke: $cinereous;
      }
      p{
        margin-left: 20px;
        font-family: "dosisRegular";
        font-size: 18px;
      }
    }
    .isapresContainer{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      img{
        max-width: 120px;
        transition: transform .5s;
        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }
}

.seeMoreClosed{
  animation: fadeOut 1s ease-in-out backwards;
}