.contactContainer{
  display: flex;
  flex-direction: column;
  .contactTitleContainer{
    position: relative;
    align-self: center;
    margin-bottom: 50px;
    background-color: $almond;
    .contactTitle{
      color: $light;
      font-family: "loveloBlack";
      font-size: 45px;
    }
  }
  .contactFormContainer{
    padding-left: 10%;
    padding-right: 10%;
    form{
      display: flex;
      flex-direction: column;
      .nameSurnameContainer{
        display: flex; 
        justify-content: space-between;
      }
      input{
        padding: 5px 10px;
        margin-bottom: 10px;
        font-family: "dosisRegular";
      }
      textarea{
        margin-bottom: 10px;
        padding: 5px 10px;
        height: 100px;
        resize: none;
        font-family: "dosisRegular";
      }
      .buttonSubmit{
        border-radius: 10px;
        padding: 10px 5px;
        background-color: $paleDogwood;
        color: $light;
        border-color: $cinereous;
        font-family: "dosisMedium";
        &:hover{
          background-color: $almond;
          color: $dark;

        }
      }
    }
    .contactDescription{
      padding-top: 15px;
      text-align: center;
      color: $light;
      font-family: "dosisRegular";
    }
  }
}