.contactContainer{
  display: flex;
  flex-direction: column;
  width: 70%;
  .contactTitleContainer{
    position: relative;
    align-self: center;
    width: 50%;
    height: 40px;
    margin-bottom: 50px;
    background-color: $almond;
    .contactTitle{
      color: $light;
      font-family: "loveloBlack";
      font-size: 45px;
    }
  }
  .contactFormContainer{
    form{
      display: flex;
      flex-direction: column;
      .nameSurnameContainer{
        display: flex; 
        justify-content: space-between;
      }
      input{
        padding: 5px 2px;
        margin-bottom: 10px;
      }
      textarea{
        margin-bottom: 10px;
        height: 100px;
        resize: none;
      }
      .buttonSubmit{
        border-radius: 10px;
        padding: 10px 5px;
        background-color: $paleDogwood;
        color: $light;
        border-color: $cinereous;
        &:hover{
          background-color: $almond;
          color: $dark;

        }
      }
    }
    .contactDescription{
      padding-top: 15px;
      text-align: center;
      color: $light;
      font-family: "dosisLight";
    }
  }
}