.footerContainer{
  .footerTextContainer{
    position: relative;
    display: flex;
    background-color: $almond;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    .footerText{
      font-family: "dosisRegular";
      font-size: 20px;
    }
  }
  .footerButtonContainer{
    padding: 10px 50px;
    border-radius: 5px;
    background-color: $cinereous;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover{
      background-color: $paleDogwood;
      cursor: pointer;
    }
    .footerButtonText{
      font-family: "dosisRegular";
      font-size: 18px;
      color: $light;
    }
  }
  .footerCopyrightContainer{
    display: flex;
    color: $dark;
    background-color: $almond;
    justify-content: center;
    align-items: center;
    padding: 10px;
    h4{
      padding-left: 5px;
      font-family: "dosisRegular";
      font-size: 14px;
    }
  }
}