.frequentQuestionsContainer{
  background-color: $isabeline;
  padding: 50px;
  position: relative;
  .imgBackground{
    z-index: 1;
    height: 100%;
    position: absolute;
    top: 0;
    left: 55%;
  }
  .frequentQuestionsTitle{
    z-index: 2;
    padding-bottom: 20px;
    text-align: center;
    font-family: "LoveloBlack";
    font-size: 20px;
  }
  .questionContainer{
    margin: 10px;
    .questionText{
      position: relative;
      z-index: 10;
      font-size: 18px;
      font-family: "dosisSemiBold";
      &:hover{
        color: $cinereous;
      }
    }
  }
  .answerContainer{
    position: relative;
    z-index: 200;
    margin: 10px 0px;
    padding: 10px 30px;
    background-color: $isabeline;
    border-top: 1px solid $almond;
    border-bottom: 1px solid $almond;
    .answerText{
      font-size: 16px;
      font-family: "dosisRegular";
    }
  }
  .frequentFootContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 70px 10px;
    .frequentFootText{
      font-family: "dosisRegular";
      padding-bottom: 5px;
    }
  }
}