.navBarTitleContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover{
    color: $dark;
    animation-name: scale;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  .navBarTitle{
    margin: 0;
    font-family: LoveloBlack;
    font-size: 30px;
  }
  .navBarSubTitle{
    margin: 0;
    font-family: "dosisRegular";
    font-size: 17px;
  }
}

.navbar{
  background-color: $almond;
}
.navbar-brand{
  margin:0 !important;
  padding: 0 !important;
}

.blur{
  filter: blur(1px);
}

.linkSeparator{
}

.nav-link{
  font-family: "dosisRegular";
  padding: 0 !important;
  font-size: 20px !important;
  color: $dark !important;
  &:hover{
    color: $cinereous !important; 
  }
}
.nav-link:not(:last-child) {
  border-right: 2px solid $dark;
  padding-right: 20px !important; 
  margin-right: 20px;
}


.navbar-expand-lg{
  justify-content: space-evenly;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
      justify-content: center;
  }
}

.fixed-top{
  padding-top: 30px !important; 
  padding-bottom: 30px !important;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}