.section2Container{
  padding: 20px 50px 30px 50px;
  background-color: $light;
  .section2TitleContainer{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
    .section2Title{
      font-family: "beautyDream";
      font-size: 2.5rem;
    }
  }
  .section2DescriptionItemsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 50px;
    justify-items: center;
    padding-top: 25px;
    .section2ItemContainer{
      width: 75%;
      display: flex;
      align-items:center;
      .section2Item{
        font-size: 1.87rem;
        color: $paleDogwood;
      }
      .section2Text{
        margin-left: 20px;
        font-family: "dosisRegular";
        text-align: justify;
        justify-self: flex-start;
      }
    }
  }
}