.section1Container{
  background-color: $isabeline;
  .imageTitleContainer{
    position: relative;
    z-index: 99;
    background-image: url("../src/images/section1Background.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
  }
  .subtitleContainer{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    .imageSubtitleContainer{
      min-height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .mapImage{
        opacity: .8;
        height: 80%;
      }
      .mapQuote{
        font-family: "dosisRegular";
        font-style: italic;
        padding-top: 30px;
      }
    }
  }
  .homeDescriptionContainer{
    width: 50%;
    padding-right: 120px;
    .homeDescriptiontitleDecorative{
      font-family: "beautyDream";
      font-size: 40px;
      padding-bottom: 20px;
    }
    .homeDescriptionTitle{
      font-family: "loveloBlack";
      padding-bottom: 25px;
      padding-top: 10px;
      font-size: 25px;
    }
    .homeDescriptionText{
      font-family: "dosisRegular";
      padding-bottom: 20px;
      text-align: justify;
    }
  }
}