.section1Container{
  background-color: $isabeline;
  .imageTitleContainer{
    position: relative;
    z-index: 99;
    background-image: url("../src/images/section1Background.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    /* .titleContainer{
      position: absolute;
      top: 50%;
      right: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .section1Title{
        font-family: "dosisRegular";
        color: $almond;
        font-size: 50px;
      }
      .section1Subtitle{
        font-family: "beautyDream";
        padding-top: 10px;
        font-size: 30px;
        color: $paleDogwood;
      }
      .homeTitle{
        color: $cinereous;
        text-shadow: 1px -1px 0px rgba(0,0,0,1);
        font-size: 40px;
        font-family: "loveloBlack";
        padding-left: 15px;
      }
      .homeTitleBeauty{
        font-family: "beautyDream";
        text-shadow: 1px -1px 0px rgba(0,0,0,1);
      }
    } */
  }
  .subtitleContainer{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    .imageSubtitleContainer{
      min-height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .homeDescriptionContainer{
    width: 50%;
    padding-right: 120px;
    .homeDescriptiontitleDecorative{
      font-family: "beautyDream";
      font-size: 40px;
      padding-bottom: 20px;
    }
    .homeDescriptionTitle{
      font-family: "loveloBlack";
      padding-bottom: 25px;
      padding-top: 10px;
      font-size: 25px;
    }
    .homeDescriptionText{
      font-family: "dosisRegular";
      padding-bottom: 20px;
      text-align: justify;
    }
  }
}