.section3Container{
  background-color: $isabeline;
  padding: 30px 50px 120px 50px;
  .section3TitleContainer{
    margin: 40px 100px 60px 100px;
    .section3Title{
      font-family: "loveloBlack";
      font-size: 22px;
      text-align: center;
      margin-bottom: 15px;
    }
    .section3SubTitle{
      font-family: "dosisRegular";
      font-size: 16px;
    }
  }
  .professionalsContainer{
    display: flex;
    justify-content: space-evenly;
    .professionalContainer{
      position: relative;
      display: flex;
      justify-content: center;
    }
    .maidaContainer{
      width: 27rem;
      height: 36rem;
      border-radius: 10px;
      padding: 50px 100px;
      background-image: url("../src/images/magda.jpeg");
      background-size:contain;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: .5;
      &:hover{
        opacity: 1;
      }
    }
    .professionalDescriptionContainer{
      position: absolute;
      bottom: -100px;
      background-color: rgba(163, 143, 133, 1);
      border-radius: 10px;
      .professionalName{
        font-family: "beautyDream";
        padding: 5px;
        font-size: 30px;
        color: $light;
      }
      .professionalDescription{
        font-family: "loveloBlack";
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
        color: $isabeline;
        text-align: center;
      }
    }

    .cokeContainer{
      position: relative;
      width: 27rem;
      height: 36rem;
      padding: 50px 100px;
      background-image: url("../src/images/jorge.jpeg");
      border-radius: 10px;
      background-size: contain;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: .5;
      &:hover{
        opacity: 1;
      }
    }
  }
}