* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    p, h1 , h2, h3, h4 {
        margin: 0;
    }
    a{
        text-decoration: none;
        color: $dark;
        &:hover{
            color: $silver;
        }
    }
}

.App{
    margin-top: 120px;
}

.dosisBold{
    font-family: "dosisBold";
}

.dosisItalic{
font-style: italic;
}