.navBarContainer {
  font-family: "dosisRegular";
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e7d7c9;
  z-index: 10000;
  display: grid;
  grid-template-columns: 4fr .5fr;
  grid-template-rows: auto;
  grid-template-areas: "navBarTitleContainer navBarToggler" "A A" "B B";
  align-items: center; }
  .navBarContainer .navBarToggler {
    grid-area: navBarToggler;
    cursor: pointer;
    justify-self: flex-end;
    padding-right: 20px; }
    .navBarContainer .navBarToggler .menuIcon {
      font-size: 1.3rem;
      color: #212121; }
  .navBarContainer .linksContainer {
    display: none; }
    .navBarContainer .linksContainer a, .navBarContainer .linksContainer button {
      background-color: #e7d7c9;
      border: 0px;
      color: #212121; }
      .navBarContainer .linksContainer a:hover, .navBarContainer .linksContainer button:hover {
        color: #a38f85; }
  .navBarContainer .linksOpen {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: flex-end; }
  .navBarContainer .A {
    grid-area: A;
    justify-self: end; }
  .navBarContainer .B {
    grid-area: B;
    justify-self: end; }
  .navBarContainer .navBarTitleContainer {
    grid-area: navBarTitleContainer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px; }
    .navBarContainer .navBarTitleContainer:hover {
      color: #212121; }
    .navBarContainer .navBarTitleContainer .navBarTitle {
      margin: 0;
      font-family: LoveloBlack;
      font-size: 1rem; }
    .navBarContainer .navBarTitleContainer .navBarSubTitle {
      margin: 0;
      font-family: "dosisRegular";
      font-size: .8rem; }

@media only screen and (min-width: 1024px) {
  .navBarContainer {
    grid-template-areas: "A navBarTitleContainer B";
    grid-template-columns: 1.5fr 1fr 1.5fr;
    justify-items: center;
    padding: 30px 20px; }
    .navBarContainer .navBarToggler {
      display: none; }
    .navBarContainer .linksContainer {
      display: flex;
      align-items: flex-end;
      justify-self: center;
      justify-content: center; }
      .navBarContainer .linksContainer a, .navBarContainer .linksContainer button {
        font-size: 1.2rem; }
        .navBarContainer .linksContainer a:not(:last-child), .navBarContainer .linksContainer button:not(:last-child) {
          padding-right: 10px;
          border-right: 2px solid #212121;
          margin-right: 10px; }
    .navBarContainer .navBarTitleContainer {
      display: flex;
      align-items: center;
      padding: 0px; }
      .navBarContainer .navBarTitleContainer:hover {
        animation-name: scale;
        animation-duration: .5s;
        animation-fill-mode: forwards; }
      .navBarContainer .navBarTitleContainer .navBarTitle {
        font-size: 1.54rem; }
      .navBarContainer .navBarTitleContainer .navBarSubTitle {
        font-size: 1rem; } }

@keyframes scale {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }

.blur {
  filter: blur(1px); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html p, html h1, html h2, html h3, html h4 {
  margin: 0;
  font-family: "dosisRegular"; }

html a {
  text-decoration: none;
  color: #212121; }
  html a:hover {
    color: #cdc6c3; }

.App {
  margin-top: 97px; }

.dosisBold {
  font-family: "dosisBold"; }

.dosisItalic {
  font-family: "dosisRegular";
  font-style: italic; }

@media only screen and (min-width: 1024px) {
  .App {
    margin-top: 110px; } }

.section1Container {
  background-color: #ede9e3; }
  .section1Container .imageTitleContainer {
    position: relative;
    z-index: 99;
    background-size: cover;
    background-image: url("../src/images/section1Background.jpg");
    height: 170px;
    display: flex; }
  .section1Container .subtitleContainer {
    padding-top: 25px;
    padding-bottom: 25px; }
    .section1Container .subtitleContainer .imageSubtitleContainer {
      display: none; }
  .section1Container .homeDescriptionContainer {
    padding: 0px 20px; }
    .section1Container .homeDescriptionContainer .homeDescriptiontitleDecorative {
      font-family: "beautyDream";
      font-size: 2rem;
      padding-bottom: 10px; }
    .section1Container .homeDescriptionContainer .homeDescriptionTitle {
      font-family: "loveloBlack";
      padding-bottom: 15px;
      padding-top: 5px;
      font-size: 1.2rem; }
    .section1Container .homeDescriptionContainer .homeDescriptionText {
      font-family: "dosisRegular";
      font-size: .8rem;
      padding-bottom: 10px;
      text-align: justify; }

@media only screen and (min-width: 768px) {
  .section1Container .imageTitleContainer {
    height: 300px; } }

@media only screen and (min-width: 1024px) {
  .section1Container .imageTitleContainer {
    height: 400px; }
  .section1Container .subtitleContainer {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px; }
    .section1Container .subtitleContainer .imageSubtitleContainer {
      min-height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .section1Container .subtitleContainer .imageSubtitleContainer .mapImage {
        opacity: .8;
        height: 80%;
        border-radius: 20px; }
      .section1Container .subtitleContainer .imageSubtitleContainer .mapQuote {
        font-family: "dosisRegular";
        font-style: italic;
        padding-top: 5px; }
  .section1Container .homeDescriptionContainer {
    width: 50%;
    padding: 0px 120px 0px 0px; }
    .section1Container .homeDescriptionContainer .homeDescriptiontitleDecorative {
      font-size: 2.5rem;
      padding-bottom: 20px; }
    .section1Container .homeDescriptionContainer .homeDescriptionTitle {
      padding-bottom: 25px;
      padding-top: 10px;
      font-size: 1.56rem; }
    .section1Container .homeDescriptionContainer .homeDescriptionText {
      font-size: 1rem;
      padding-bottom: 20px; } }

.section2Container {
  padding: 10px 20px 15px 20px;
  background-color: #fff; }
  .section2Container .section2TitleContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px; }
    .section2Container .section2TitleContainer .section2Title {
      font-family: "beautyDream";
      font-size: 2rem; }
  .section2Container .section2DescriptionItemsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "A" "C" "E" "B" "D" "F";
    row-gap: 20px;
    padding-top: 15px;
    justify-items: center; }
    .section2Container .section2DescriptionItemsContainer .section2ItemContainer {
      width: 100%;
      align-items: center;
      display: flex; }
      .section2Container .section2DescriptionItemsContainer .section2ItemContainer .section2Item {
        font-size: 1.4rem;
        color: #d4b2a7; }
      .section2Container .section2DescriptionItemsContainer .section2ItemContainer .section2Text {
        margin-left: 10px;
        font-family: "dosisRegular";
        text-align: justify;
        font-size: .8rem; }
    .section2Container .section2DescriptionItemsContainer .A {
      grid-area: A; }
    .section2Container .section2DescriptionItemsContainer .B {
      grid-area: B; }
    .section2Container .section2DescriptionItemsContainer .C {
      grid-area: C; }
    .section2Container .section2DescriptionItemsContainer .D {
      grid-area: D; }
    .section2Container .section2DescriptionItemsContainer .E {
      grid-area: E; }
    .section2Container .section2DescriptionItemsContainer .F {
      grid-area: F; }

@media only screen and (min-width: 1024px) {
  .section2Container {
    padding: 20px 50px 50px 50px; }
    .section2Container .section2TitleContainer {
      padding-top: 30px;
      padding-bottom: 40px; }
      .section2Container .section2TitleContainer .section2Title {
        font-size: 2.5rem; }
    .section2Container .section2DescriptionItemsContainer {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "A B" "C D" "E F";
      row-gap: 50px;
      padding-top: 25px; }
      .section2Container .section2DescriptionItemsContainer .section2ItemContainer {
        width: 75%;
        align-items: center; }
        .section2Container .section2DescriptionItemsContainer .section2ItemContainer .section2Item {
          font-size: 1.87rem; }
        .section2Container .section2DescriptionItemsContainer .section2ItemContainer .section2Text {
          margin-left: 20px;
          font-size: 1rem; } }

.section3Container {
  position: relative;
  background-color: #ede9e3;
  padding: 10px 0px; }
  .section3Container .section3TitleContainer .section3Title {
    font-family: "loveloBlack";
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px; }
  .section3Container .section3TitleContainer .subTitleContainer {
    padding: 0px 20px; }
    .section3Container .section3TitleContainer .subTitleContainer .section3SubTitle {
      font-family: "dosisRegular";
      font-size: .8rem;
      text-align: justify;
      margin-bottom: 10px; }
  .section3Container .professionalsContainer {
    display: flex;
    justify-content: space-around; }
    .section3Container .professionalsContainer .professionalContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .section3Container .professionalsContainer .maidaContainer {
      width: 47vw;
      height: calc(47vw / 0.75);
      border-radius: 10px;
      background-image: url("../src/images/magda.jpeg");
      background-size: contain;
      opacity: .5; }
      .section3Container .professionalsContainer .maidaContainer:hover {
        opacity: 1; }
    .section3Container .professionalsContainer .cokeContainer {
      width: 47vw;
      height: calc(47vw / 0.75);
      background-image: url("../src/images/jorge.jpeg");
      border-radius: 10px;
      background-size: contain;
      opacity: .5; }
      .section3Container .professionalsContainer .cokeContainer:hover {
        opacity: 1; }
    .section3Container .professionalsContainer .professionalDescriptionContainer {
      margin: 10px;
      background-color: rgba(163, 143, 133, 0.5);
      border-radius: 10px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      margin-bottom: 50px; }
      .section3Container .professionalsContainer .professionalDescriptionContainer .professionalName {
        font-family: "loveloBlack";
        padding: 5px;
        font-size: .8rem;
        color: #fff;
        text-align: center; }
      .section3Container .professionalsContainer .professionalDescriptionContainer .professionalDescription {
        font-family: "dosisSemiBold";
        padding-bottom: 2px;
        font-size: .7rem;
        color: #ede9e3;
        text-align: center; }
      .section3Container .professionalsContainer .professionalDescriptionContainer .seeMore {
        cursor: pointer; }
        .section3Container .professionalsContainer .professionalDescriptionContainer .seeMore:hover {
          color: #fff; }
  .section3Container .quoteContainer {
    text-align: center;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: .8rem; }
  .section3Container .videoContainer {
    display: flex;
    justify-content: center; }
    .section3Container .videoContainer video {
      width: 80%;
      height: 50vw;
      border-radius: 20px;
      object-fit: fill; }

@media only screen and (min-width: 768px) {
  .section3Container .videoContainer video {
    width: 320px;
    height: 200px; } }

@media only screen and (min-width: 1024px) {
  .section3Container {
    padding: 30px 50px 50px 50px; }
    .section3Container .section3TitleContainer {
      margin: 40px 100px 60px 100px; }
      .section3Container .section3TitleContainer .section3Title {
        font-size: 1.37rem;
        margin-bottom: 25px; }
      .section3Container .section3TitleContainer .subTitleContainer {
        padding: 0px 70px; }
        .section3Container .section3TitleContainer .subTitleContainer .section3SubTitle {
          font-size: 1rem; }
    .section3Container .professionalsContainer {
      flex-direction: row; }
      .section3Container .professionalsContainer .professionalContainer {
        flex-direction: row; }
      .section3Container .professionalsContainer .maidaContainer {
        width: 27rem;
        height: 36rem; }
      .section3Container .professionalsContainer .cokeContainer {
        width: 27rem;
        height: 36rem; }
      .section3Container .professionalsContainer .professionalDescriptionContainer {
        margin: 0;
        position: absolute;
        bottom: -150px;
        padding-left: 10px;
        padding-right: 10px; }
        .section3Container .professionalsContainer .professionalDescriptionContainer .professionalName {
          padding: 5px 15px;
          font-size: 1.18rem; }
        .section3Container .professionalsContainer .professionalDescriptionContainer .professionalDescription {
          padding-bottom: 5px;
          font-size: 1rem; }
    .section3Container .quoteContainer {
      margin-top: 50px;
      font-size: 1rem; }
    .section3Container .videoContainer {
      padding-top: 200px; }
      .section3Container .videoContainer video {
        width: 400px;
        height: 250px; } }

.footerContainer .footerTextContainer {
  display: flex;
  flex-direction: column;
  background-color: #e7d7c9;
  padding: 10px 20px;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100; }
  .footerContainer .footerTextContainer .footerText {
    font-family: "dosisRegular";
    font-size: .9rem;
    text-align: center; }

.footerContainer .footerButtonContainer {
  background-color: #a38f85;
  padding: 8px 25px;
  border-radius: 5px;
  margin-top: 7px; }
  .footerContainer .footerButtonContainer:hover {
    background-color: #d4b2a7;
    cursor: pointer; }
  .footerContainer .footerButtonContainer .footerButtonText {
    font-family: "dosisRegular";
    color: #fff;
    font-size: .9rem; }

.footerContainer .footerCopyrightContainer {
  display: flex;
  color: #212121;
  background-color: #e7d7c9;
  justify-content: center;
  align-items: center;
  padding: 0 10px 10px 10px; }
  .footerContainer .footerCopyrightContainer h4 {
    font-family: "dosisRegular";
    font-size: 0.7rem; }

@media only screen and (min-width: 1024px) {
  .footerContainer .footerTextContainer {
    flex-direction: row;
    padding: 20px 0px; }
    .footerContainer .footerTextContainer .footerText {
      font-size: 1.25rem; }
  .footerContainer .footerButtonContainer {
    padding: 10px 50px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .footerContainer .footerButtonContainer .footerButtonText {
      font-size: 1.12rem; }
  .footerContainer .footerCopyrightContainer {
    padding: 10px; }
    .footerContainer .footerCopyrightContainer h4 {
      padding-left: 5px;
      font-size: 0.87rem; } }

.frequentQuestionsContainer {
  padding-top: 20px;
  position: relative; }
  .frequentQuestionsContainer .imgBackground {
    display: none; }
  .frequentQuestionsContainer .frequentQuestionsTitle {
    z-index: 2;
    text-align: center;
    font-family: "LoveloBlack";
    padding-bottom: 10px;
    font-size: 1rem; }
  .frequentQuestionsContainer .questionContainer {
    margin-top: 15px; }
    .frequentQuestionsContainer .questionContainer .questionText {
      position: relative;
      z-index: 10;
      font-family: "dosisRegular";
      font-size: .9rem; }
      .frequentQuestionsContainer .questionContainer .questionText:hover {
        color: #a38f85; }
  .frequentQuestionsContainer .answerContainer {
    position: relative;
    z-index: 200;
    background-color: #fff;
    border-top: 1px solid #e7d7c9;
    border-bottom: 1px solid #e7d7c9;
    margin: 5px 0px;
    padding: 5px 5px; }
    .frequentQuestionsContainer .answerContainer .answerText {
      font-family: "dosisRegular";
      text-align: justify;
      font-size: .8rem; }
  .frequentQuestionsContainer .frequentFootContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 10px 5px; }
    .frequentQuestionsContainer .frequentFootContainer .frequentFootText {
      font-family: "dosisRegular";
      padding-bottom: 5px;
      font-size: .8rem; }

@media only screen and (min-width: 768px) {
  .frequentQuestionsContainer {
    padding: 30px 20px; } }

@media only screen and (min-width: 1024px) {
  .frequentQuestionsContainer {
    padding: 50px; }
    .frequentQuestionsContainer .imgBackground {
      display: block;
      height: 1000px;
      max-height: 100%;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 55%; }
    .frequentQuestionsContainer .frequentQuestionsTitle {
      padding-bottom: 20px;
      font-size: 1.25rem; }
    .frequentQuestionsContainer .questionContainer {
      margin: 10px; }
      .frequentQuestionsContainer .questionContainer .questionText {
        font-size: 1.12rem; }
    .frequentQuestionsContainer .answerContainer {
      margin: 10px 0px;
      padding: 10px 30px; }
      .frequentQuestionsContainer .answerContainer .answerText {
        font-size: 1rem; }
    .frequentQuestionsContainer .frequentFootContainer {
      padding: 40px 70px 10px; }
      .frequentQuestionsContainer .frequentFootContainer .frequentFootText {
        padding-bottom: 5px;
        width: 60%;
        font-size: 1rem; } }

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #a38f85;
  z-index: 10001;
  animation: slideInFromRight 0.5s ease-in; }
  .sidebar .closeBtn {
    color: #fff;
    position: absolute;
    font-family: "LoveloBlack";
    cursor: pointer;
    z-index: 200;
    right: 15px;
    top: 10px;
    font-size: 1rem; }
  .sidebar .sidebarContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .8fr 2fr;
    align-items: center;
    height: 100%;
    row-gap: 0px; }
    .sidebar .sidebarContainer .sidebarTitleContainer {
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .sidebar .sidebarContainer .sidebarTitleContainer:before {
        content: "";
        background-image: url("../src/images/sidebarTitleBackground.jpg");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.4; }
      .sidebar .sidebarContainer .sidebarTitleContainer .sidebarTitle {
        color: #fff;
        font-family: "loveloBlack";
        position: relative;
        font-size: 1.8rem; }
      .sidebar .sidebarContainer .sidebarTitleContainer .sidebarSubTitle {
        position: relative;
        color: #fff;
        font-family: "dosisRegular";
        font-size: 1rem; }
    .sidebar .sidebarContainer .sidebarFormContainer {
      padding-left: 2%;
      padding-right: 2%; }
      .sidebar .sidebarContainer .sidebarFormContainer form {
        display: flex;
        flex-direction: column; }
        .sidebar .sidebarContainer .sidebarFormContainer form .nameSurnameContainer {
          display: flex;
          justify-content: space-between; }
        .sidebar .sidebarContainer .sidebarFormContainer form input {
          padding: 2px 10px;
          margin-bottom: 10px;
          font-family: "dosisRegular";
          font-size: 0.8rem; }
        .sidebar .sidebarContainer .sidebarFormContainer form textarea {
          resize: none;
          font-family: "dosisRegular";
          height: 70px;
          padding: 5px 10px;
          margin-bottom: 10px;
          font-size: 0.8rem; }
        .sidebar .sidebarContainer .sidebarFormContainer form select {
          padding: 5px 10px;
          font-family: "dosisRegular";
          margin-bottom: 10px;
          font-size: 0.8rem; }
        .sidebar .sidebarContainer .sidebarFormContainer form .buttonSubmit {
          background-color: #d4b2a7;
          color: #fff;
          border-color: #a38f85;
          font-family: "dosisMedium";
          border-radius: 10px;
          margin-top: 10px;
          padding: 8px 0px;
          font-size: .9rem; }
          .sidebar .sidebarContainer .sidebarFormContainer form .buttonSubmit:hover {
            background-color: #e7d7c9;
            color: #212121; }
      .sidebar .sidebarContainer .sidebarFormContainer .sidebarDescription {
        text-align: center;
        color: #fff;
        font-family: "dosisRegular";
        padding-top: 10px;
        font-size: .8rem; }

@media only screen and (min-width: 768px) {
  .sidebar {
    width: 55%;
    height: 70%; }
    .sidebar .closeBtn {
      right: 20px;
      top: 10px;
      font-size: 1.4rem; }
    .sidebar .sidebarContainer {
      grid-template-rows: 1fr 2fr; } }

@media only screen and (min-width: 1024px) {
  .sidebar {
    width: 38%;
    height: 100%; }
    .sidebar .closeBtn {
      right: 30px;
      top: 15px;
      font-size: 1.55rem; }
    .sidebar .sidebarContainer {
      grid-template-rows: 1fr 2fr;
      row-gap: 40px; }
      .sidebar .sidebarContainer .sidebarTitleContainer .sidebarTitle {
        font-size: 2.18rem; }
      .sidebar .sidebarContainer .sidebarTitleContainer .sidebarSubTitle {
        font-size: 1.25rem; }
      .sidebar .sidebarContainer .sidebarFormContainer {
        padding-left: 10%;
        padding-right: 10%; }
        .sidebar .sidebarContainer .sidebarFormContainer form input {
          font-size: 0.93rem; }
        .sidebar .sidebarContainer .sidebarFormContainer form textarea {
          height: 75px;
          padding: 5px 10px;
          margin-bottom: 10px;
          font-size: 0.93rem; }
        .sidebar .sidebarContainer .sidebarFormContainer form select {
          font-size: 0.93rem; }
        .sidebar .sidebarContainer .sidebarFormContainer form .buttonSubmit {
          margin-top: 20px;
          padding: 10px 5px;
          font-size: 1rem; }
        .sidebar .sidebarContainer .sidebarFormContainer .sidebarDescription {
          padding-top: 15px;
          font-size: 1rem; } }

.sidebarClosed {
  animation: slideOutToRight .5s ease-out; }

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .loadingContainer .brain-icon {
    animation: rotate 1s linear infinite; }
  .loadingContainer .loadingText {
    font-family: "dosisRegular";
    font-size: 1.56rem; }

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-in; }
  75% {
    transform: rotate(360deg);
    animation-timing-function: ease-out; }
  100% {
    transform: rotate(360deg); } }

.react-datetime-picker {
  background-color: #fff;
  margin-bottom: 10px;
  width: 100%; }
  .react-datetime-picker input {
    width: fit-content; }

.blogContainer .title {
  font-family: "beautyDream";
  text-align: center;
  color: #212121;
  padding-top: 20px;
  font-size: 2rem; }

.blogContainer .blogGrid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .blogContainer .blogGrid .articleContainer {
    position: relative;
    background-color: #a38f85;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 96%;
    height: calc(96vw / 2); }
    .blogContainer .blogGrid .articleContainer:before {
      border-radius: 10px;
      content: "";
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.7; }
    .blogContainer .blogGrid .articleContainer:hover:before {
      opacity: 1;
      cursor: pointer; }
    .blogContainer .blogGrid .articleContainer h2 {
      color: #fff;
      font-family: "dosisMedium";
      position: relative;
      font-size: 1.2rem;
      text-align: center; }
      .blogContainer .blogGrid .articleContainer h2:hover {
        cursor: pointer; }
  .blogContainer .blogGrid .article1:before {
    background-image: url("../src//images/article1Image.jpg"); }
  .blogContainer .blogGrid .article2:before {
    background-image: url("../src/images/article2Image.jpg"); }
  .blogContainer .blogGrid .article3:before {
    background-image: url("../src/images/article3Image.jpg"); }
  .blogContainer .blogGrid .article4:before {
    background-image: url("../src/images/article4Image.jpg"); }
  .blogContainer .blogGrid .article5:before {
    background-image: url("../src/images/article5Image.jpg"); }
  .blogContainer .blogGrid .article6:before {
    background-image: url("../src/images/article6Image.jpg"); }
  .blogContainer .blogGrid .article7:before {
    background-image: url("../src/images/article7Image.jpg"); }
  .blogContainer .blogGrid .article8:before {
    background-image: url("../src/images/article8Image.jpg"); }
  .blogContainer .blogGrid .article9:before {
    background-image: url("../src/images/article9Image.jpg"); }
  .blogContainer .blogGrid .article10:before {
    background-image: url("../src/images/article10Image.jpg"); }
  .blogContainer .blogGrid .article11:before {
    background-image: url("../src/images/article11Image.jpg"); }
  .blogContainer .blogGrid .article12:before {
    background-image: url("../src/images/article12Image.jpg"); }

@media only screen and (min-width: 1024px) {
  .blogContainer .title {
    padding-top: 50px;
    font-size: 2.5rem; }
  .blogContainer .blogGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 50px;
    padding-top: 75px;
    padding-bottom: 75px; }
    .blogContainer .blogGrid .articleContainer {
      height: 275px;
      width: 550px; }
      .blogContainer .blogGrid .articleContainer h2 {
        font-size: 1.75rem; } }

.articleTextContainer {
  position: relative;
  background-color: #a38f85;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  border-radius: 20px;
  margin: 4px;
  padding: 10px 15px; }
  .articleTextContainer .closeBtn {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 5px;
    font-family: "LoveloBlack";
    cursor: pointer;
    z-index: 200;
    font-size: 1rem; }
  .articleTextContainer:before {
    border-radius: 20px;
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3; }
  .articleTextContainer .parragraph {
    padding: 3px 0px; }
    .articleTextContainer .parragraph p {
      margin: 0;
      padding: 0; }
  .articleTextContainer h2 {
    text-align: center;
    font-family: "dosisSemiBold";
    color: #e7d7c9;
    padding-bottom: 10px;
    font-size: 1.2rem; }
  .articleTextContainer p {
    text-align: justify;
    color: .articleTextContainer p light;
    position: relative;
    color: #fff;
    padding: 5px 0px;
    font-size: .8rem; }
  .articleTextContainer .textFoot {
    color: #fff;
    text-align: end;
    padding-bottom: 0; }

.article1:before {
  background-image: url("../src/images/article1Image.jpg"); }

.article2:before {
  background-image: url("../src/images/article2Image.jpg"); }

.article3:before {
  background-image: url("../src/images/article3Image.jpg"); }

.article4:before {
  background-image: url("../src/images/article4Image.jpg"); }

.article5:before {
  background-image: url("../src/images/article5Image.jpg"); }

.article6:before {
  background-image: url("../src/images/article6Image.jpg"); }

.article7:before {
  background-image: url("../src/images/article7Image.jpg"); }

.article8:before {
  background-image: url("../src/images/article8Image.jpg"); }

.article9:before {
  background-image: url("../src/images/article9Image.jpg"); }

.article10:before {
  background-image: url("../src/images/article10Image.jpg"); }

.article11:before {
  background-image: url("../src/images/article11Image.jpg"); }

.article12:before {
  background-image: url("../src/images/article12Image.jpg"); }

@media only screen and (min-width: 1024px) {
  .articleTextContainer {
    margin: 75px;
    padding: 30px 75px; }
    .articleTextContainer .closeBtn {
      right: 30px;
      top: 15px;
      font-size: 1.5rem; }
    .articleTextContainer .parragraph {
      padding: 10px 0px; }
      .articleTextContainer .parragraph p {
        font-size: 1.12rem;
        padding: 10px 0px; }
    .articleTextContainer h2 {
      padding-bottom: 30px;
      font-size: 2rem; }
    .articleTextContainer p {
      font-size: 1rem; } }

.closed {
  animation: fadeOut 1s ease-in-out forwards; }

.seeMoreContainer {
  position: absolute;
  z-index: 2000;
  top: 45px;
  left: 2%;
  width: 96%;
  background-color: #ede9e3;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  -webkit-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  -moz-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  padding: 10px; }
  .seeMoreContainer .closeBtn {
    color: #a38f85;
    position: absolute;
    font-family: "LoveloBlack";
    cursor: pointer;
    z-index: 200;
    right: 10px;
    top: 10px;
    font-size: 1.1rem; }
  .seeMoreContainer h2 {
    text-align: center;
    font-family: "loveloBlack";
    color: #a38f85;
    padding-top: 5px;
    font-size: 1.3rem; }
  .seeMoreContainer h3 {
    text-align: center;
    font-family: "dosisRegular";
    color: #a38f85;
    padding: 10px 0px;
    font-size: 1rem; }
  .seeMoreContainer .teamDescriptionContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, align-items);
    grid-template-areas: "L1" "L2" "L3" "L4" "L5" "L6" "R1" "R2" "R3" "R4" "R5" "R6";
    row-gap: 10px;
    padding: 10px 10px 10px 0px; }
    .seeMoreContainer .teamDescriptionContainer .teamDescriptionItemContainer {
      display: flex; }
      .seeMoreContainer .teamDescriptionContainer .teamDescriptionItemContainer .teamDescriptionItem {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start; }
    .seeMoreContainer .teamDescriptionContainer .teamDescriptionText {
      padding-left: 10px;
      color: #212121;
      font-family: "dosisRegular";
      text-align: justify;
      font-size: .8rem; }
  .seeMoreContainer .L1 {
    grid-area: L1; }
  .seeMoreContainer .L2 {
    grid-area: L2; }
  .seeMoreContainer .L3 {
    grid-area: L3; }
  .seeMoreContainer .L4 {
    grid-area: L4; }
  .seeMoreContainer .L5 {
    grid-area: L5; }
  .seeMoreContainer .L6 {
    grid-area: L6; }
  .seeMoreContainer .R1 {
    grid-area: R1; }
  .seeMoreContainer .R2 {
    grid-area: R2; }
  .seeMoreContainer .R3 {
    grid-area: R3; }
  .seeMoreContainer .R4 {
    grid-area: R4; }
  .seeMoreContainer .R5 {
    grid-area: R5; }
  .seeMoreContainer .R6 {
    grid-area: R6; }

@media only screen and (min-width: 1024px) {
  .seeMoreContainer {
    top: 120px;
    left: 13%;
    width: 74%; }
    .seeMoreContainer .closeBtn {
      right: 25px;
      top: 15px;
      font-size: 1.5rem; }
    .seeMoreContainer h2 {
      padding-top: 30px;
      font-size: 1.87rem; }
    .seeMoreContainer h3 {
      padding: 30px 0px;
      font-size: 1.5rem; }
    .seeMoreContainer .teamDescriptionContainer {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(7, align-items);
      grid-template-areas: "L1 R1" "L2 R2" "L3 R3" "L4 R4" "L5 R5" "L6 R6";
      row-gap: 30px;
      column-gap: 100px;
      padding: 20px 50px; }
      .seeMoreContainer .teamDescriptionContainer .teamDescriptionText {
        font-size: 1rem; } }

.seeMoreClosed {
  animation: fadeOut 1s ease-in-out backwards; }

.conventionsContainer {
  position: fixed;
  z-index: 5000;
  top: 150px;
  left: 2%;
  width: 96%;
  background-color: #ede9e3;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  -webkit-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  -moz-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards; }
  .conventionsContainer .closeBtn {
    color: #a38f85;
    position: absolute;
    right: 10px;
    top: 5px;
    font-family: "LoveloBlack";
    cursor: pointer;
    font-size: 1rem;
    z-index: 200; }
  .conventionsContainer h2 {
    text-align: center;
    font-family: "loveloBlack";
    color: #a38f85;
    padding-top: 10px;
    font-size: 1.2rem; }
  .conventionsContainer h3 {
    text-align: center;
    font-family: "dosisRegular";
    color: #a38f85;
    padding: 10px 0px;
    font-size: 1rem; }
  .conventionsContainer .conventionsDescriptionContainer {
    padding: 5px 10px; }
    .conventionsContainer .conventionsDescriptionContainer .itemContainer {
      display: flex;
      margin-bottom: 10px; }
      .conventionsContainer .conventionsDescriptionContainer .itemContainer .icon path {
        stroke: #a38f85; }
      .conventionsContainer .conventionsDescriptionContainer .itemContainer p {
        font-family: "dosisRegular";
        margin-left: 10px;
        font-size: .8rem; }
    .conventionsContainer .conventionsDescriptionContainer .isapresContainer {
      padding-top: 20px;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .conventionsContainer .conventionsDescriptionContainer .isapresContainer img {
        margin: 10px 5px;
        max-width: 100px;
        transition: transform .5s; }
        .conventionsContainer .conventionsDescriptionContainer .isapresContainer img:hover {
          transform: scale(1.2); }

@media only screen and (min-width: 1024px) {
  .conventionsContainer {
    top: 150px;
    left: 12%;
    width: 76%;
    padding: 10px;
    padding-bottom: 20px; }
    .conventionsContainer .closeBtn {
      right: 30px;
      top: 15px;
      font-size: 1.5rem; }
    .conventionsContainer h2 {
      padding-top: 30px;
      font-size: 1.87rem; }
    .conventionsContainer h3 {
      padding: 25px 0px;
      font-size: 1.5rem; }
    .conventionsContainer .conventionsDescriptionContainer {
      padding: 10px 50px; }
      .conventionsContainer .conventionsDescriptionContainer .itemContainer {
        margin: 0px 20px 40px 20px; }
        .conventionsContainer .conventionsDescriptionContainer .itemContainer p {
          margin-left: 20px;
          font-size: 1.2rem; }
      .conventionsContainer .conventionsDescriptionContainer .isapresContainer {
        padding-top: 0px; }
        .conventionsContainer .conventionsDescriptionContainer .isapresContainer img {
          margin-bottom: 0px; } }

.conventionsContainerClosed {
  animation: fadeOut 1s ease-in-out backwards; }

.main-content {
  filter: blur(2px); }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0.3); } }

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(100%);
    opacity: 0; } }
