.navBarContainer {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  background-color: #e7d7c9;
  z-index: 10000; }
  .navBarContainer .navBarLinksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navBarContainer .navBarLinksContainer .navBarLink {
      font-family: "dosisRegular";
      font-size: 20px;
      padding-right: 20px;
      padding-left: 20px;
      cursor: pointer; }
      .navBarContainer .navBarLinksContainer .navBarLink:hover {
        color: #a38f85; }
    .navBarContainer .navBarLinksContainer .linkSeparator {
      border-right: 2px solid #212121; }
  .navBarContainer .navBarTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .navBarContainer .navBarTitleContainer:hover {
      color: #212121;
      animation-name: scale;
      animation-duration: .5s;
      animation-fill-mode: forwards; }
    .navBarContainer .navBarTitleContainer .navBarTitle {
      margin: 0;
      font-family: LoveloBlack;
      font-size: 30px; }
    .navBarContainer .navBarTitleContainer .navBarSubTitle {
      margin: 0;
      font-family: "dosisRegular";
      font-size: 17px; }

.blur {
  filter: blur(1px); }

@keyframes scale {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html p, html h1, html h2, html h3, html h4 {
  margin: 0;
  font-family: "dosisRegular"; }

html a {
  text-decoration: none;
  color: #212121; }
  html a:hover {
    color: #cdc6c3; }

.App {
  margin-top: 120px; }

.dosisBold {
  font-family: "dosisBold"; }

.dosisItalic {
  font-family: "dosisRegular";
  font-style: italic; }

.section1Container {
  background-color: #ede9e3; }
  .section1Container .imageTitleContainer {
    position: relative;
    z-index: 99;
    background-image: url("../src/images/section1Background.jpg");
    background-size: cover;
    height: 400px;
    display: flex; }
  .section1Container .subtitleContainer {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px; }
    .section1Container .subtitleContainer .imageSubtitleContainer {
      min-height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .section1Container .subtitleContainer .imageSubtitleContainer .mapImage {
        opacity: .8;
        height: 80%;
        border-radius: 20px; }
      .section1Container .subtitleContainer .imageSubtitleContainer .mapQuote {
        font-family: "dosisRegular";
        font-style: italic;
        padding-top: 5px; }
  .section1Container .homeDescriptionContainer {
    width: 50%;
    padding-right: 120px; }
    .section1Container .homeDescriptionContainer .homeDescriptiontitleDecorative {
      font-family: "beautyDream";
      font-size: 40px;
      padding-bottom: 20px; }
    .section1Container .homeDescriptionContainer .homeDescriptionTitle {
      font-family: "loveloBlack";
      padding-bottom: 25px;
      padding-top: 10px;
      font-size: 25px; }
    .section1Container .homeDescriptionContainer .homeDescriptionText {
      font-family: "dosisRegular";
      padding-bottom: 20px;
      text-align: justify; }

.section2Container {
  padding: 20px 50px 30px 50px;
  background-color: #fff; }
  .section2Container .section2TitleContainer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px; }
    .section2Container .section2TitleContainer .section2Title {
      font-family: "beautyDream";
      font-size: 40px; }
  .section2Container .section2DescriptionItemsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 50px;
    justify-items: center;
    padding-top: 25px; }
    .section2Container .section2DescriptionItemsContainer .section2ItemContainer {
      width: 75%;
      display: flex;
      align-items: center; }
      .section2Container .section2DescriptionItemsContainer .section2ItemContainer .section2Item {
        font-size: 30px;
        color: #d4b2a7; }
      .section2Container .section2DescriptionItemsContainer .section2ItemContainer .section2Text {
        margin-left: 20px;
        font-family: "dosisRegular";
        text-align: justify; }

.section3Container {
  position: relative;
  background-color: #ede9e3;
  padding: 30px 50px 50px 50px; }
  .section3Container .section3TitleContainer {
    margin: 40px 100px 60px 100px; }
    .section3Container .section3TitleContainer .section3Title {
      font-family: "loveloBlack";
      font-size: 22px;
      text-align: center;
      margin-bottom: 25px; }
    .section3Container .section3TitleContainer .subTitleContainer {
      padding: 0px 70px; }
      .section3Container .section3TitleContainer .subTitleContainer .section3SubTitle {
        font-family: "dosisRegular";
        font-size: 16px;
        text-align: justify;
        margin-bottom: 10px; }
  .section3Container .professionalsContainer {
    display: flex;
    justify-content: space-evenly; }
    .section3Container .professionalsContainer .professionalContainer {
      position: relative;
      display: flex;
      justify-content: center; }
    .section3Container .professionalsContainer .maidaContainer {
      width: 27rem;
      height: 36rem;
      border-radius: 10px;
      padding: 50px 100px;
      background-image: url("../src/images/magda.jpeg");
      background-size: contain;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: .5; }
      .section3Container .professionalsContainer .maidaContainer:hover {
        opacity: 1; }
    .section3Container .professionalsContainer .professionalDescriptionContainer {
      position: absolute;
      bottom: -150px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgba(163, 143, 133, 0.5);
      border-radius: 10px; }
      .section3Container .professionalsContainer .professionalDescriptionContainer .professionalName {
        font-family: "loveloBlack";
        padding: 5px 15px;
        font-size: 19px;
        color: #fff;
        text-align: center; }
      .section3Container .professionalsContainer .professionalDescriptionContainer .professionalDescription {
        font-family: "dosisSemiBold";
        padding-bottom: 10px;
        font-size: 16px;
        color: #ede9e3;
        text-align: center; }
      .section3Container .professionalsContainer .professionalDescriptionContainer .seeMore {
        cursor: pointer; }
        .section3Container .professionalsContainer .professionalDescriptionContainer .seeMore:hover {
          color: #fff; }
    .section3Container .professionalsContainer .cokeContainer {
      position: relative;
      width: 27rem;
      height: 36rem;
      padding: 50px 100px;
      background-image: url("../src/images/jorge.jpeg");
      border-radius: 10px;
      background-size: contain;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: .5; }
      .section3Container .professionalsContainer .cokeContainer:hover {
        opacity: 1; }
  .section3Container .quoteContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center; }
  .section3Container .videoContainer {
    padding-top: 200px;
    display: flex;
    justify-content: center; }
    .section3Container .videoContainer video {
      border-radius: 20px;
      object-fit: fill; }

.footerContainer .footerTextContainer {
  position: relative;
  display: flex;
  background-color: #e7d7c9;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100; }
  .footerContainer .footerTextContainer .footerText {
    font-family: "dosisRegular";
    font-size: 20px; }

.footerContainer .footerButtonContainer {
  padding: 10px 50px;
  border-radius: 5px;
  background-color: #a38f85; }
  .footerContainer .footerButtonContainer:hover {
    background-color: #d4b2a7;
    cursor: pointer; }
  .footerContainer .footerButtonContainer .footerButtonText {
    font-family: "dosisRegular";
    font-size: 18px;
    color: #fff; }

.footerContainer .footerConventionsContainer {
  display: flex;
  background-color: #e7d7c9;
  justify-content: center;
  padding-bottom: 40px; }

.footerContainer .footerCopyrightContainer {
  display: flex;
  color: #212121;
  background-color: #e7d7c9;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  .footerContainer .footerCopyrightContainer h4 {
    padding-left: 5px;
    font-family: "dosisRegular";
    font-size: 14px; }

.frequentQuestionsContainer {
  padding: 50px;
  position: relative; }
  .frequentQuestionsContainer .imgBackground {
    height: 1090px;
    max-height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 55%; }
  .frequentQuestionsContainer .frequentQuestionsTitle {
    z-index: 2;
    padding-bottom: 20px;
    text-align: center;
    font-family: "LoveloBlack";
    font-size: 20px; }
  .frequentQuestionsContainer .questionContainer {
    margin: 10px; }
    .frequentQuestionsContainer .questionContainer .questionText {
      position: relative;
      z-index: 10;
      font-size: 18px;
      font-family: "dosisRegular"; }
      .frequentQuestionsContainer .questionContainer .questionText:hover {
        color: #a38f85; }
  .frequentQuestionsContainer .answerContainer {
    position: relative;
    z-index: 200;
    margin: 10px 0px;
    padding: 10px 30px;
    background-color: #fff;
    border-top: 1px solid #e7d7c9;
    border-bottom: 1px solid #e7d7c9; }
    .frequentQuestionsContainer .answerContainer .answerText {
      font-size: 16px;
      font-family: "dosisRegular"; }
  .frequentQuestionsContainer .frequentFootContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 70px 10px; }
    .frequentQuestionsContainer .frequentFootContainer .frequentFootText {
      font-family: "dosisRegular";
      padding-bottom: 5px;
      width: 60%; }

.sidebar {
  position: fixed;
  top: 0;
  right: -40%;
  width: 38%;
  height: 100%;
  background-color: #a38f85;
  z-index: 10001;
  transition: right 0.5s; }
  .sidebar .closeBtn {
    color: #fff;
    position: absolute;
    right: 30px;
    top: 20px;
    font-family: "LoveloBlack";
    cursor: pointer;
    font-size: 20px;
    z-index: 200; }
  .sidebar .sidebarContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    row-gap: 50px;
    align-items: center;
    height: 100%; }
    .sidebar .sidebarContainer .sidebarTitleContainer {
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .sidebar .sidebarContainer .sidebarTitleContainer:before {
        content: "";
        background-image: url("../src/images/sidebarTitleBackground.jpg");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.4; }
      .sidebar .sidebarContainer .sidebarTitleContainer .sidebarTitle {
        color: #fff;
        font-family: "loveloBlack";
        font-size: 35px;
        position: relative; }
      .sidebar .sidebarContainer .sidebarTitleContainer .sidebarSubTitle {
        position: relative;
        color: #fff;
        font-family: "dosisRegular";
        font-size: 20px; }
    .sidebar .sidebarContainer .sidebarFormContainer {
      padding-left: 10%;
      padding-right: 10%; }
      .sidebar .sidebarContainer .sidebarFormContainer form {
        display: flex;
        flex-direction: column; }
        .sidebar .sidebarContainer .sidebarFormContainer form .nameSurnameContainer {
          display: flex;
          justify-content: space-between; }
        .sidebar .sidebarContainer .sidebarFormContainer form input {
          padding: 2px 10px;
          margin-bottom: 10px;
          font-family: "dosisRegular";
          font-size: 15px; }
        .sidebar .sidebarContainer .sidebarFormContainer form textarea {
          margin-bottom: 10px;
          padding: 5px 10px;
          height: 75px;
          resize: none;
          font-family: "dosisRegular"; }
        .sidebar .sidebarContainer .sidebarFormContainer form select {
          padding: 5px 10px;
          font-family: "dosisRegular";
          margin-bottom: 10px; }
        .sidebar .sidebarContainer .sidebarFormContainer form .buttonSubmit {
          border-radius: 10px;
          margin-top: 20px;
          padding: 10px 5px;
          background-color: #d4b2a7;
          color: #fff;
          border-color: #a38f85;
          font-family: "dosisMedium"; }
          .sidebar .sidebarContainer .sidebarFormContainer form .buttonSubmit:hover {
            background-color: #e7d7c9;
            color: #212121; }
      .sidebar .sidebarContainer .sidebarFormContainer .sidebarDescription {
        padding-top: 15px;
        text-align: center;
        color: #fff;
        font-family: "dosisRegular"; }

.sidebar.open {
  right: 0; }

.sidebar-toggle {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10002; }

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .loadingContainer .brain-icon {
    animation: rotate 1s linear infinite; }
  .loadingContainer .loadingText {
    font-family: "dosisRegular";
    font-size: 25px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-in; }
  75% {
    transform: rotate(360deg);
    animation-timing-function: ease-out; }
  100% {
    transform: rotate(360deg); } }

.react-datetime-picker {
  background-color: #fff;
  margin-bottom: 10px;
  width: 100%; }
  .react-datetime-picker input {
    width: fit-content; }

.blogContainer .title {
  font-family: "beautyDream";
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  color: #212121; }

.blogContainer .blogGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  row-gap: 50px;
  justify-items: center;
  padding-top: 75px;
  padding-bottom: 75px; }
  .blogContainer .blogGrid .articleContainer {
    position: relative;
    height: 275px;
    width: 550px;
    background-color: #a38f85;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; }
    .blogContainer .blogGrid .articleContainer:before {
      border-radius: 10px;
      content: "";
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.7; }
    .blogContainer .blogGrid .articleContainer:hover:before {
      opacity: 1;
      cursor: pointer; }
    .blogContainer .blogGrid .articleContainer h2 {
      color: #fff;
      font-family: "dosisMedium";
      position: relative;
      font-size: 28px; }
      .blogContainer .blogGrid .articleContainer h2:hover {
        cursor: pointer; }
  .blogContainer .blogGrid .article1:before {
    background-image: url("../src/images/article1Image.JPG"); }
  .blogContainer .blogGrid .article2:before {
    background-image: url("../src/images/article2Image.jpg"); }
  .blogContainer .blogGrid .article3:before {
    background-image: url("../src/images/article3Image.jpg"); }
  .blogContainer .blogGrid .article4:before {
    background-image: url("../src/images/article4Image.jpg"); }
  .blogContainer .blogGrid .article5:before {
    background-image: url("../src/images/article5Image.JPG"); }
  .blogContainer .blogGrid .article6:before {
    background-image: url("../src/images/article6Image.jpg"); }
  .blogContainer .blogGrid .article7:before {
    background-image: url("../src/images/article7Image.JPG"); }
  .blogContainer .blogGrid .article8:before {
    background-image: url("../src/images/article8Image.JPG"); }

.articleTextContainer {
  margin: 75px;
  position: relative;
  background-color: #a38f85;
  display: flex;
  flex-direction: column;
  padding: 30px 75px;
  border-radius: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards; }
  .articleTextContainer:before {
    border-radius: 20px;
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3; }
  .articleTextContainer .parragraph {
    padding: 10px 0px; }
    .articleTextContainer .parragraph p {
      margin: 0;
      padding: 0; }
  .articleTextContainer h2 {
    text-align: center;
    font-family: "dosisSemiBold";
    padding-bottom: 30px;
    color: #e7d7c9; }
  .articleTextContainer p {
    font-size: 18px;
    padding: 10px 0px;
    text-align: justify;
    color: .articleTextContainer p light;
    position: relative;
    color: #fff; }
  .articleTextContainer .textFoot {
    color: #fff;
    padding-bottom: 0;
    text-align: end; }

.article1:before {
  background-image: url("../src/images/article1Image.JPG"); }

.article2:before {
  background-image: url("../src/images/article2Image.jpg"); }

.article3:before {
  background-image: url("../src/images/article3Image.jpg"); }

.article4:before {
  background-image: url("../src/images/article4Image.jpg"); }

.article5:before {
  background-image: url("../src/images/article5Image.JPG"); }

.article6:before {
  background-image: url("../src/images/article6Image.jpg"); }

.article7:before {
  background-image: url("../src/images/article7Image.JPG"); }

.article8:before {
  background-image: url("../src/images/article8Image.JPG"); }

.seeMoreContainer {
  position: absolute;
  z-index: 2000;
  top: 120px;
  left: 13%;
  width: 74%;
  background-color: #ede9e3;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  -webkit-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  -moz-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  padding: 10px; }
  .seeMoreContainer .closeBtn {
    color: #a38f85;
    position: absolute;
    right: 30px;
    top: 20px;
    font-family: "LoveloBlack";
    cursor: pointer;
    font-size: 20px;
    z-index: 200; }
  .seeMoreContainer h2 {
    text-align: center;
    font-family: "loveloBlack";
    padding-top: 30px;
    font-size: 30px;
    color: #a38f85; }
  .seeMoreContainer h3 {
    text-align: center;
    font-family: "dosisRegular";
    padding: 30px 0px;
    font-size: 24px;
    color: #a38f85; }
  .seeMoreContainer .teamDescriptionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, align-items);
    row-gap: 30px;
    column-gap: 100px;
    padding: 20px 50px; }
    .seeMoreContainer .teamDescriptionContainer .teamDescriptionItemContainer {
      display: flex; }
      .seeMoreContainer .teamDescriptionContainer .teamDescriptionItemContainer .teamDescriptionItem {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start; }
    .seeMoreContainer .teamDescriptionContainer .teamDescriptionText {
      padding-left: 10px;
      color: #212121;
      font-family: "dosisRegular";
      font-size: 16px;
      text-align: justify; }

.seeMoreClosed {
  animation: fadeOut 1s ease-in-out backwards; }

.conventionsContainer {
  position: fixed;
  z-index: 5000;
  top: 180px;
  left: 12%;
  width: 76%;
  background-color: #ede9e3;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  -webkit-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  -moz-box-shadow: 0px 0px 13px 8px rgba(163, 143, 133, 0.35);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  padding: 10px;
  padding-bottom: 20px; }
  .conventionsContainer .closeBtn {
    color: #a38f85;
    position: absolute;
    right: 30px;
    top: 20px;
    font-family: "LoveloBlack";
    cursor: pointer;
    font-size: 20px;
    z-index: 200; }
  .conventionsContainer h2 {
    text-align: center;
    font-family: "loveloBlack";
    padding-top: 30px;
    font-size: 30px;
    color: #a38f85; }
  .conventionsContainer h3 {
    text-align: center;
    font-family: "dosisRegular";
    padding: 25px 0px;
    font-size: 24px;
    color: #a38f85; }
  .conventionsContainer .conventionsDescriptionContainer {
    padding: 10px 50px; }
    .conventionsContainer .conventionsDescriptionContainer .itemContainer {
      display: flex;
      margin: 0px 20px 40px 20px; }
      .conventionsContainer .conventionsDescriptionContainer .itemContainer .icon path {
        stroke: #a38f85; }
      .conventionsContainer .conventionsDescriptionContainer .itemContainer p {
        margin-left: 20px;
        font-family: "dosisRegular";
        font-size: 18px; }
    .conventionsContainer .conventionsDescriptionContainer .isapresContainer {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .conventionsContainer .conventionsDescriptionContainer .isapresContainer img {
        max-width: 120px;
        transition: transform .5s; }
        .conventionsContainer .conventionsDescriptionContainer .isapresContainer img:hover {
          transform: scale(1.2); }

.conventionsContainerClosed {
  animation: fadeOut 1s ease-in-out backwards; }

.main-content {
  filter: blur(2px); }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0.3); } }
